.stats-icon.orange {
    background-color: #e08816;
}

label.error {
    color: #ff0000;
    font-weight: 400;
}

.sidebar-wrapper::-webkit-scrollbar{
	width: 7px;
	background-color:  #f5f5f5;
	border-radius: 4px;
}

.sidebar-wrapper::-webkit-scrollbar-thumb{
	background-color: #54BAB9;
    border-radius: 4px;
}

.form-equipment .filepond--root .filepond--drop-label {
  height: 250px;
}